@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --primary-clr: #e89b07;
  --accent-clr: #aeff86;
  --secondary-clr: #626060;
  --text-clr: white;
  --bg-clr: #0f110e;
  --semi-bg: rgba(217, 217, 217, 0.05);
}

body.mystic {
  --primary-clr: #6e30d1;
  --accent-clr: #bf4976;
  --secondary-clr: #f3d792;
  --text-clr: #150e1b;
  --bg-clr: #f3eef6;
}

body.green {
  --primary-clr: #40582c;
  --accent-clr: #658b46;
  --secondary-clr: #bfdfd0;
  --text-clr: #150e1b;
  --bg-clr: #f3eef6;
}

::-moz-selection {
  background: var(--accent-clr);
}

::selection {
  background: var(--accent-clr);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

body {
  margin-top: 80px;
  height: calc(100svh - 80px);
  background-color: var(--bg-clr);
  color: var(--text-clr);
  margin-bottom: 35rem;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

:root {
  --primary-clr: #e89b07;
  --accent-clr: #aeff86;
  --secondary-clr: #626060;
  --text-clr: white;
  --bg-clr: #0f110e;
  --semi-bg: rgba(217, 217, 217, 0.05);
}

body.mystic {
  --primary-clr: #6e30d1;
  --accent-clr: #bf4976;
  --secondary-clr: #f3d792;
  --text-clr: #150e1b;
  --bg-clr: #f3eef6;
}

body.green {
  --primary-clr: #40582c;
  --accent-clr: #658b46;
  --secondary-clr: #bfdfd0;
  --text-clr: #150e1b;
  --bg-clr: #f3eef6;
}

::-moz-selection {
  background: var(--accent-clr);
}

::selection {
  background: var(--accent-clr);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

body {
  margin-top: 80px;
  height: calc(100svh - 80px);
  background-color: var(--bg-clr);
  color: var(--text-clr);
  margin-bottom: 35rem;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

#footer {
  margin-top: 4rem;
  background-color: var(--primary-clr);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
  padding-inline: 3rem;
  gap: 2rem;
}

#footer .left {
  -webkit-box-align: baseline !important;
      -ms-flex-align: baseline !important;
          align-items: baseline !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  border-right: 2px solid var(--text-clr);
}

#footer .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer .right .links a {
  color: var(--bg-clr);
  font-weight: bold;
  text-decoration: underline;
  white-space: nowrap;
}

#footer .right .col-1 {
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

#footer .right .col-1 .stars i {
  color: var(--bg-clr);
  font-size: 2rem;
}

#footer .right .col-1 .quote {
  color: var(--bg-clr);
  font-weight: bold;
}

:root {
  --primary-clr: #e89b07;
  --accent-clr: #aeff86;
  --secondary-clr: #626060;
  --text-clr: white;
  --bg-clr: #0f110e;
  --semi-bg: rgba(217, 217, 217, 0.05);
}

body.mystic {
  --primary-clr: #6e30d1;
  --accent-clr: #bf4976;
  --secondary-clr: #f3d792;
  --text-clr: #150e1b;
  --bg-clr: #f3eef6;
}

body.green {
  --primary-clr: #40582c;
  --accent-clr: #658b46;
  --secondary-clr: #bfdfd0;
  --text-clr: #150e1b;
  --bg-clr: #f3eef6;
}

::-moz-selection {
  background: var(--accent-clr);
}

::selection {
  background: var(--accent-clr);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

body {
  margin-top: 80px;
  height: calc(100svh - 80px);
  background-color: var(--bg-clr);
  color: var(--text-clr);
  margin-bottom: 35rem;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 0;
  position: fixed;
  background-color: var(--bg-clr);
  width: 100%;
  padding-inline: 3rem;
  height: 80px;
  z-index: 100;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

nav .logo {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}

nav .logo-text {
  background: -webkit-linear-gradient(right, var(--accent-clr), var(--primary-clr));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav .links {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .links li {
  padding: 1rem 1.5rem;
}

nav .links li > a {
  color: var(--text-clr);
  text-decoration: none;
  font-weight: bold;
}

nav #login__btn {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  padding: 0.6rem 1rem;
  border-radius: 2rem;
  border: none;
  background: -webkit-gradient(linear, left top, right top, from(var(--primary-clr)), to(var(--accent-clr)));
  background: linear-gradient(to right, var(--primary-clr), var(--accent-clr));
}

nav #login__btn a {
  color: var(--bg-clr);
  font-weight: bold;
}

:root {
  --primary-clr: #e89b07;
  --accent-clr: #aeff86;
  --secondary-clr: #626060;
  --text-clr: white;
  --bg-clr: #0f110e;
  --semi-bg: rgba(217, 217, 217, 0.05);
}

body.mystic {
  --primary-clr: #6e30d1;
  --accent-clr: #bf4976;
  --secondary-clr: #f3d792;
  --text-clr: #150e1b;
  --bg-clr: #f3eef6;
}

body.green {
  --primary-clr: #40582c;
  --accent-clr: #658b46;
  --secondary-clr: #bfdfd0;
  --text-clr: #150e1b;
  --bg-clr: #f3eef6;
}

::-moz-selection {
  background: var(--accent-clr);
}

::selection {
  background: var(--accent-clr);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

body {
  margin-top: 80px;
  height: calc(100svh - 80px);
  background-color: var(--bg-clr);
  color: var(--text-clr);
  margin-bottom: 35rem;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.__container > .container {
  padding: 3rem 2rem;
  position: relative;
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
}

.__container > .container::before {
  position: absolute !important;
  content: "";
  width: 100%;
  height: 100%;
  left: -20px;
  bottom: -30px;
  z-index: -1;
}

.__container > .container:nth-of-type(odd) {
  border: 3px solid var(--primary-clr);
}

.__container > .container:nth-of-type(odd) span {
  color: var(--primary-clr);
}

.__container > .container:nth-of-type(odd)::before {
  border: 1px dashed var(--primary-clr);
}

.__container > .container:nth-of-type(even) {
  border: 3px solid var(--accent-clr);
}

.__container > .container:nth-of-type(even) span {
  color: var(--accent-clr);
}

.__container > .container:nth-of-type(even)::before {
  border: 1px dashed var(--accent-clr);
}

section {
  padding-inline: 3rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80%;
}

.hero h1 {
  font-size: 50px;
  background: -webkit-linear-gradient(right, var(--accent-clr), var(--primary-clr));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.what .header {
  background: -webkit-linear-gradient(right, var(--accent-clr), var(--primary-clr));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 2rem;
}

.what .contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.what .contents > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.what .contents .img__container {
  max-width: 500px;
  padding: 1rem;
  min-width: 400px;
  width: 100%;
}

.what .contents .img__container img {
  width: 100%;
}

.what .contents .description {
  fot-size: 1rem;
}

.what .contents .description button {
  padding: 1rem 2rem;
  border: 2px solid var(--accent-clr);
  border-radius: 30px;
  background-color: transparent;
  cursor: pointer;
  display: block;
  margin: auto;
}

.what .contents .description button a {
  color: var(--accent-clr);
}

.career_paths {
  padding: 2rem 2rem;
  background-color: var(--semi-bg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}

.career_paths__header {
  background: -webkit-linear-gradient(right, var(--accent-clr), var(--primary-clr));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.career_paths .__container .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 200px;
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
}

.career_paths .__container .container button {
  background: -webkit-linear-gradient(right, var(--accent-clr), var(--primary-clr));
  padding: 1rem 2rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  color: var(--bg-clr);
}

.career_paths .__container .container::before {
  background-image: url("../images/Websites/careerPaths.png ");
  background-position: 2rem -7rem;
  background-repeat: no-repeat;
}

.career_paths button {
  padding: 1rem 2rem;
  border: 2px solid var(--accent-clr);
  border-radius: 30px;
  background-color: transparent;
  cursor: pointer;
}

.career_paths button a {
  font-weight: bold;
  color: var(--text-clr);
  background: -webkit-linear-gradient(right, var(--accent-clr), var(--primary-clr));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.school-offering {
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4rem 3rem;
  -ms-grid-columns: 1fr 20%;
      grid-template-columns: 1fr 20%;
}

.school-offering div h1 {
  background: -webkit-linear-gradient(right, var(--accent-clr), var(--primary-clr));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.school-offering div .description {
  font-weight: bold;
  color: var(--text-clr);
}

.school-offering button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  background: -webkit-linear-gradient(right, var(--accent-clr), var(--primary-clr));
  padding: 0.8rem 2rem !important;
}

.school-offering button a {
  font-weight: bold;
  color: var(--bg-clr);
}
/*# sourceMappingURL=industrialArts.css.map */